* {
  font-family: "Mohave", sans-serif;
  scroll-behavior: smooth;
}

.bar-container, .bar-container-2{
  margin-top: 10vh;
  padding: 2rem;
  background-color: rgba(119, 166, 210, 1);
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  display: flex;
  justify-content: end;
}
.attitude-container {
  margin-top: 60vh;
  justify-content: flex-start;
}

.bar-container > a {
  margin-right: 13vw;
  font-size: 2.25rem;
  text-decoration: none;
  color: black;
  letter-spacing: 1px;
  background-color: rgba(119, 166, 210, 1);
}

.attitude-bar{
  margin-left: 17vw;
  font-size: 3rem;
  font-weight: bold;
  font-family: "Mohave" sans-serif;
}

.bar-container > a:hover {
  color: blue;
  transition: 0.5s ease-in-out;
}

.photo-container{
  display: flex;
  justify-content: space-between;
}

.photo-one {
  position: absolute;
  top: 9rem;
  border-radius: 30px;
  margin-left: 3em;
  width: 50vw;
  height: 66vh;
  background-image: url(/assets/Photos/kuchnia_cala.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 4px 4px 4px black;
  opacity: 0;
  transition: all 1s ease-out;
}

.slide-in {
  opacity: 0;
  transition: all 1s ease-out;
}

.slide-in[data-direction="left"] {
  transform: translateX(-150px);
}

.slide-in[data-direction="right"] {
  transform: translateX(150px);
}

.slide-in.visible {
  opacity: 1;
  transform: translateX(0);
}

.photo-two {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  right: 0;
  margin-top: 8rem;
  margin-right: 3em;
  width: 45vw;
  height: 50vh;
  z-index: 1;
  border-radius: 30px;
  box-shadow: 4px 4px 4px black;
}

.photo-two::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  border-radius: 30px;
  background-image: url(/assets/Photos/Salon.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.7;
}

.text-container {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: black;
}
.text-container > h1, h2, h3 {
  font-family: "Mohave", sans-serif;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin-bottom: 3rem;
}

#call-button, #order-button, .submit button {
  width: 9vw;
  height: 6vh;
  border-radius: 30px;
  font-size: 1em;
  cursor: pointer;
  border: 1px solid black;
  box-shadow: 4px 4px 4px black;
  font-size: 1.5rem;
  transition: 0.5s;
}

#call-button {
  background-color: rgba(133, 136, 140, 1);
}
#order-button {
  background-color: rgba(26, 126, 240, 1);
}
#order-button:hover, #call-button:hover {
  background-color: rgba(119, 166, 210, 1);
  box-shadow: 0px 0px 20px rgba(26, 126, 240, 1);
  cursor: pointer;
}

#order-button:active, #call-button:active {
  transform: translateY(3px);
  box-shadow: 0px 0px 0px;
}

#header {
  font-size: 50px;
}
#middle {
  font-size: 25px;
}
#footer {
  font-size: 24px;
}

#header, #middle, #footer {
  text-align: center;
}

.photos-container{
  width: 100%;
  height: 100vh;
  margin-top: 2vh;
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 2px solid black;
}

.left-side{
  background-image: url(/assets/Photos/Stół1.jpg);
}

.right-side{
  border-left: 2px solid black;
  background-image: url(/assets/Photos/Salon2.jpg);
}

.right-side, .left-side {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 13rem;
}

.content-box {
  width: 15vw;
  height: 25vh;
  background-color: rgba(26, 126, 240, 1);
  border-radius: 20px;
  border: 1px solid black;
  box-shadow: 4px 4px 4px black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-wrap: wrap;
  gap: 0.5em;
  font-family: "Mohave", sans-serif;
  font-size: 1.2rem;
}

.content-box p {
  width: 75%;
  margin: 0;
  padding: 0;
}
.description {
  border-top: 1px solid black;
}

#content_1, #content_3 {
  margin-right: 15rem;
}
#content_2, #content_4 {
  margin-left: 15rem;
}

.goal-bar {
  width: 100%;
  height: 20vh;
  background-image: url(/assets/Photos/Jadalnia.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.goal-container{
  width: 50vw;
  height: 12vh;
  border-radius: 25px;
  border: 1px solid black;
  background-color: rgba(217, 217, 217, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.3rem;
  box-shadow: 4px 4px 4px black;
}

.goal {
  opacity: 1;
  transition: opacity 0.8s ease-in-out;
}

.form-container {
  padding: 4vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 20px;
}

.form-info {
  display: flex;
  align-items: end;
  justify-content: center;
  gap: 10vw;
  margin-bottom: 2vh;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.form-group input {
  width: 30vw;
  height: 5vh;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid black;
  font-size: 1.5rem;
}
input:focus {
  outline: none;
}

#texta { 
  resize: none;
  height: 25vh;
  width: 40vw;
  font-size: 1.5rem;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid black;
}

#texta:focus {
  outline: none;
}

.submit-container{
  margin-top: 3vh;
  width: 92%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.rodo {
  width: 70%;
}

.rodo input[type="checkbox"] {
  width: 2.5vw;
  height: 2.5vh;
  cursor: pointer;
}

.submit button {
  width: 12vw;
  height: 8vh;
  border: 1px solid black;
  border-radius: 30px;
  font-size: 1.5rem;
  background-color: rgba(183, 181, 185, 1);
  transition: 0.7s ease;
  cursor: pointer;
}
.submit button:hover {
  background-color: rgba(119, 166, 210, 1);
  box-shadow: 0px 0px 20px rgba(26, 126, 240, 1);
}
.submit button:active {
  transform: translateY(3px);
  box-shadow: 0px 0px 0px;
}

@media (max-width: 768px) {
  .bar-container {
    margin-top: 5vh;
    height: 10vh;
    display: flex;
    align-items: center;
  }
  .bar-container > a {
    margin-inline: auto;
  }

  .photo-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .nav-menu {
    z-index: 10;
  }

  .photo-one {
    width: 75vw;
    height: 70vh;
    position: static;
    margin-inline: auto;
    margin-top: 3vh;
    background-size: cover;
    background-position: center;
  }

  .photo-two::before{
    display: none;
  }

  .photo-two{
    position: relative;
    width: 75vw;
    height: 70vh;
    border-radius: 30px;
    margin-inline: auto;
    margin-top: 5vh;
    margin-bottom: 5vh;
    background-image: url(/assets/Photos/Salon.jpg);
    background-size: cover;
    background-position: center;
  }

  .text-container {
    height: 4em;
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .button-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
  }
  #order-button, #call-button {
    width: 45vw;
    font-size: 2rem;
  }

  #header, #middle, #footer {
    text-align: center;
    font-size: 1rem;
    margin-inline: 1em;
  }

  .attitude-container {
    margin-top: 1vh;
  }

  .photos-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .photo-one, .photo-two {
    margin-left: 3.25rem;
  }

  .left-side, .right-side {
    width: 100vw;
    background-position: center;
    background-size: cover;
  }

  .content-box {
    width: 35vw;
    height: 25vh;
    background-color: rgba(26, 126, 240, 1);
    border-radius: 20px;
    border: 1px solid black;
    box-shadow: 4px 4px 4px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-wrap: wrap;
    gap: 0;
    font-family: "Mohave", sans-serif;
    font-size: 1rem;
  }
  #content_1, #content_3 {
    margin-top: 3em;
    margin-left: 3rem;
  }
  #content_2, #content_4 {
    margin-bottom: 6em;
    margin-right: 3rem;
  }

  .goal-bar {
    margin-top: 85vh;
  }

  .goal-container {
    width: 90%;
    font-size: 1rem;
  }

  .submit button {
    width: 20vw;
  }

  .photo-container {
    width: 50%;
  }
}