* {
  font-family: "Mohave", sans-serif;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

main {
  display: flex;
  position: relative;
}
.service-menu {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 10vw;
  font-size: 1.5rem;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  overflow: hidden;
  z-index: 1;
  box-shadow: 4px 0px 5px rgba(0, 0, 0, 1);
}
.service-menu a {
  width: 90%;
  text-align: center;
  text-decoration: none;
  color: black;
  transition: 0.2s ease;
}
.service-menu a:hover {
  transform: scale(1.2);
  color: blue;
}

.service-menu::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background-image: url(/assets/Photos/Tło1.jpg);
  background-position: center;
  background-size: cover;
  opacity: 0.5;
}
.services {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.service {
  position: relative;
  width: 90vw;
  height: 40vh;
  font-size: 2.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.service::before {
  content: "";
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  opacity: 0.4;
  z-index: -1;
}

.service p {
  margin-left: 1rem;
}
.service ul {
  margin-left: 4rem;
}
#home::before {
  background-image: url(/assets/Photos/Sypialnia.jpg);
}
#office::before {
  background-image: url(/assets/Photos/Biuro_net.jpg);
  background-position: 100% 70%;
}
#factory::before {
  background-image: url(/assets/Photos/produkcja.jpg);
}
#construction::before {
  background-image: url(/assets/Photos/Budowa\ 1.jpg);
}
#med::before {
  background-image: url(/assets/Photos/Przychodnia.png);
}
.toggle-bar {
  position: absolute;
  right: 0;
  color: black;
  cursor: pointer;
  transform: rotate(-90deg);
  font-size: 2rem;
  z-index: 1000;
  text-align: center;
  transition: 0.5s ease;
}
.toggle-bar:hover {
  color: blue;
  margin-right: 2rem;
}
.toggle-bar:active {
  outline: none;
}
.toggle-bar:focus {
  outline: none;
}
.content {
  position: absolute;
  top: 10;
  right: -100vw;
  width: 100%;
  transition: right 0.8s ease;
  z-index: 10;
}

.content.show {
  right: 0vh;
}

.service-name {
  font-size: 5rem;
  opacity: 0.7;
  padding-left: 5rem;
}
.additional-services {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.additional-services::before {
  content: "";
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  opacity: 0.4;
  z-index: -1;
  background-image: url(/assets/Photos/Tło4.jpg);
}

.grid-container {
  display: grid;
  margin: 5rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  row-gap: 5rem;
  column-gap: 10rem;
}

.add-container {
  width: 20vw;
  height: 45vh;
  position: relative;
  border-radius: 30px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  background: linear-gradient(50deg, #a2d4ff, #0f8f96);
  box-shadow: 0px 0px 20px rgba(26, 126, 240, 1);
}

.container { 
  width: 90%;
  height: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-wrap: wrap;
  font-size: 1.5rem;
  gap: 2rem;
}

hr {
  background-color: black;
  border: none;
  height: 1.5px;
  width: 70%;
}

.fade { 
  opacity: 1;
  transition: opacity 0.8s ease-in-out;
}
.fade-out {
  opacity: 0;
}

.slide-in {
  opacity: 0;
  transition: all 1s ease-out;
}

.slide-in[data-direction="left"] {
  transform: translateX(-150px);
}

.slide-in[data-direction="up"] {
  transform: translateY(-150px);
}

.slide-in.visible {
  opacity: 1;
  transform: translateX(0);
}


@media (max-width: 768px) {
  .service-menu {
    display: none;
  }

  .service {
    width: 100%;
  }

  .content {
    width: 80%;
    height: 100%;
    margin-right: 7rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
  }
  .content p {
    font-size: 1rem;
  }
  .content ul li {
    font-size: 1rem;
  }
  .grid-container {
    grid-template-columns: 1fr;
  }
  .add-container {
    width: 80%;
    margin: auto;
  }
}